<!DOCTYPE html>
<html>
  <head>
    <title>LikelionTaxgata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9f9f9b443871b4014a0ab6be494ab126&libraries=services,clusterer,drawing"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
